.main_header{
box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
}
.main_header__container{
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 80px;
}
.main_header__nav{
    margin-left: auto;
   
}
.main_header__list{
    display: flex;
}
.main_header__link{
    padding: 16px;
    color: #000;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}
.main_header__btn{
    margin-left: 24px;
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    border-radius: 5px;
    background: var(--blue, #00BAFC);
    border: 2px solid #00BAFC;
    padding: 6px 16px;
    transition: all 0.4s ease;
    &:hover {
        background-color: #FFF;
        color: #00BAFC;
    }
}